@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat&family=Poppins&display=swap');

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-x: hidden;
	font-family: 'Lato', sans-serif;
}

/* NAVBAR */

.navbar {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 0.2rem;
	background: rgba(0, 0, 0, 0.6) !important;
	padding: 15px 0;
}

.navbar .navbar-nav .nav-link {
	color: #fff;
	padding-left: 20px;
}

.navbar .navbar-nav .nav-link .active,
.navbar .navbar-nav .nav-link:hover {
	color: #7000f2;
}

/* BACKGROUND */

/* #showcase {
	background: url('./img/DSC03016_2.jpg') no-repeat center center/cover;
	height: 100vh;
} */

/* .heading-content {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 0 2rem;
	/* OVERLAY */
/* position: absolute;
	top: 65px;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.4);
} */
.heading-content {
	position: absolute;
	top: 50%;
	width: 100%;
	max-width: 100%;
}

.heading-content h5 {
	font-size: 3rem;
	font-weight: 300;
	color: #fff;
	font-family: monospace;
}

.heading-content h1 {
	font-size: 4rem;
	font-weight: bolder;
	color: #fff;
	font-family: 'Montserrat';
}
.heading-content p {
	font-size: 1.2rem;
	text-transform: uppercase;
	font-weight: lighter;
	color: #4c00a4;
	word-spacing: 5px;
	letter-spacing: 2px;
}

/* ABOUT */
#about-me .btn {
	border: 2px solid transparent;
	width: 40%;
	padding: 15px 22px;
	background: #000;
	border-radius: 5px;
	margin-top: 10px;
}

#about-me .btn a {
	color: #fff;
	text-decoration: none;
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
}

#about-me .btn:hover {
	border: 2px solid #4c00a4;
	cursor: pointer;
}

/* SERVICES */
#services .button {
	border: 2px solid transparent;
	width: 40%;
	padding: 15px 22px;
	background: #000;
	border-radius: 5px;
	margin-top: 10px;
}
#services .button a {
	color: #fff;
	text-decoration: none;
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
}

#services .button:hover {
	border: 2px solid #4c00a4;
	cursor: pointer;
}
